* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 80px;
}

.logo h2 {
  font-size: 28px;
  font-weight: bold;
  color: #60a5fa;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #60a5fa;
}

.auth-btn {
  display: flex;
  gap: 15px;
}

.auth-btn button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.login-btn {
  background: transparent;
  color: white;
  border: 1px solid #60a5fa !important;
}

.login-btn:hover {
  background: #60a5fa;
}

.register-btn {
  background: #60a5fa;
  color: white;
}

.register-btn:hover {
  background: #2563eb;
}